<!-- /snippets/hero.liquid -->
{% comment %}
  The hero carousel v1
{% endcomment %}

<div class="walltowall">
    <section class="hero slider">
		
	  		<div class="placeholder-slide">
	  			<div class="trans-bg-mobi">
	  				<!-- <div class="copy1">{{ settings.pre_heading }}</div> -->
	  				<div class="copy2">{{ settings.main_heading }}</div>
	  				<div class="copy3">{{ settings.feature_copy }}</div>
	  				<!-- <div class="shape1"></div>
	  				<div class="zigzag"></div> -->
	  				<a href="{{ settings.hero_link }}" style="text-decoration:none; cursor:pointer">
							<div class="btn rad-btn hero-button">{{ settings.hero_button_text }}</div>
						</a>
	  		</div>
      
    </section>
</div>