<!-- /templates/blog.lookbook.liquid -->

<div class="main-content">
	<section class="events-banner blog-page-banner">
		<h3>
			Events
		</h3>
		<div class='pink-bar'></div>
		<h1>Share Delicious Moments With Connoisseurs</h1>
	</section>
	<section class="wrapper">
		{% comment %} {% assign headline_text = 
			"Jewelry is inherently joyful and intimate. So it should come as no surprise that our get-togethers throughout the year are designed to evoke the very same feelings. Over canapés and apéritifs, we mingle with inspiring people who share their stories on jewelry as an art, a societal movement, and a philosophical proposition. You really must come." %} {% endcomment %}
		{% include 'blog-headline', headline_text: settings.events-headline %}
		<div class="blogs-container">
			{% for article in blog.articles %}
				{% if article.image %}
				<div class="full-article blog__item">
					{% assign split_title = article.title | split: "_" %}
					{% assign title = split_title[0] %}
					{% assign location = split_title[1] %}
					{% assign date = split_title[2] %}
					{% comment %} <h3 class="title"><a class="" href="{{ article.url }}">{{ title }}</a></h3> {% endcomment %}
					<p class="description">{{ description }}</p>
					<div class="article lookbook-article blog-article-block">
						<a class="" href="{{ article.url }}">
							<div class="article__featured-image">
								{{ article | img_url: '707x707' | img_tag: article.title }}
							</div>
							<div class="hover-view">
								<div class='pink-bar'></div>
								<div class="hover-content">
									<h2>{{title}}</h2>
									<h3>{{location}}</h3>
									<h3 class='happen-date'>{{date}}</h3>
								</div>
							</div>
						</a>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
</div>		
