<!-- /templates/blog.lookbook.liquid -->

<div class="main-content">
	<section class="adventures-banner blog-page-banner">
		<h3>
			ADENTURES
		</h3>
		<div class='pink-bar'></div>
		<h1>Take A Journey</h1>
		<h1>That’s An Art Form In Itself</h1>
	</section>
	<section class="wrapper">
		{% comment %} {% assign headline_text = 
			"Three little words: made by hand. Rue Pigalle takes intimate groups behind the scenes and beyond the clichés to discover the secrets of glorious craftsmanship. The places we go aren’t generally accessible-- a jewel box of an atelier, a vineyard hidden in the middle of a city, dinner with a designer. But we have the relationships to unlock these rare and special experiences. Do you know the phrase ‘frisson of delight’?" %} {% endcomment %}
		{% include 'blog-headline', headline_text: settings.adventures-headline %}
		<div class="blogs-container">
			{% for article in blog.articles %}
				{% if article.image %}
				<div class="full-article blog__item">
					{% assign split_title = article.title | split: "_" %}
					{% assign title = split_title[0] %}
					{% assign location = split_title[1] %}
					{% assign date = split_title[2] %}
					{% comment %} <h3 class="title"><a class="" href="{{ article.url }}">{{ title }}</a></h3> {% endcomment %}
					<p class="description">{{ description }}</p>
					<div class="article lookbook-article blog-article-block">
						<a class="" href="{{ article.url }}">
							<div class="article__featured-image">
								{{ article | img_url: '707x707' | img_tag: article.title }}
							</div>
							<div class="hover-view">
								<div class='pink-bar'></div>
								<div class="hover-content">
									<h2>{{title}}</h2>
									<h3>{{location}}</h3>
									<h3 class='happen-date'>{{date}}</h3>
								</div>
							</div>
						</a>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
</div>		
