<div class="rewards-page">
	<div class="floating-square-wrapper">
		<div class="floating-square">
			<h1>{{ page.title }}</h1>
			<h2><em>'because life is a two-way lane'</em></h2>
			<p>Rue Pigalle Rewards is my way to say <span class="text-pink">"Thank You"</span> for your incredible support.</p>
			<p>You can earn points in the following ways:</p>
			<div class="grid">
				<div class="grid__item medium--one-half large--one-third">
					<div class="rewards-perk">
						<img alt="Shopping Bag" src="{{ 'rewards-order.svg' | asset_url }}" />
						<p class="perk-title">Make an order</p>
						<p class="perk-subtitle">+3 points for every $1 spent</p>
					</div>
				</div>
				<div class="grid__item medium--one-half large--one-third">
					<div class="rewards-perk">
						<img alt="Silhouette with Heart" src="{{ 'rewards-friend.svg' | asset_url }}" />
						<p class="perk-title">Refer a friend</p>
						<p class="perk-subtitle">+2,000 points</p>
					</div>
				</div>
				<div class="grid__item medium--one-half large--one-third">
					<div class="rewards-perk">
						<img alt="Small Storefront" src="{{ 'rewards-account.svg' | asset_url }}" />
						<p class="perk-title">Create a store account</p>
						<p class="perk-subtitle">+1,000 points</p>
					</div>
				</div>
				<div class="grid__item medium--one-half large--one-third">
					<div class="rewards-perk">
						<img alt="Birthday" src="{{ 'rewards-birthday.svg' | asset_url }}" />
						<p class="perk-title">Birthday</p>
						<p class="perk-subtitle">+1,000 points</p>
					</div>
				</div>
				<div class="grid__item medium--one-half large--one-third">
					<div class="rewards-perk">
						<img alt="Megaphone" src="{{ 'rewards-facebook.svg' | asset_url }}" />
						<p class="perk-title">Sharing on Facebook</p>
						<p class="perk-subtitle">+500 points</p>
					</div>
				</div>
				<div class="grid__item medium--one-half large--one-third">
					<div class="rewards-perk">
						<img alt="Heart with Plus Symbol" src="{{ 'rewards-twitter.svg' | asset_url }}" />
						<p class="perk-title">Following us on Twitter</p>
						<p class="perk-subtitle">+500 points</p>
					</div>
				</div>
			</div>
			<div class="hr-medium"></div>
			<p>Earn your points against your purchases (online or at the boutique) or exchange them for an experience.</p>
			<ul>
			<li><p><span class="points">2,000 points - </span><span class="reward">$20 gift certificate redeemable against your next purchase.</span></p></li>
			<li><p><span class="points">5,000 points - </span><span class="reward">a complimentary manicure + pedicure at our beauty partner Rain Spa Salon</span></p></li>
			<li><p><span class="points">15,000 points - </span><span class="reward">a complimentary Wardrobe-Clutter-Clear-Out with me.</span></p></li>
			</ul>
			<a class="rewards-link" data-st-intent="st:core:home">
				<span class="floating-square-pink-button">Go To Your Rewards</span>
			</a>
		</div>
	</div>
</div>
